<h2>About Sweet Jams</h2>
<p>
  Chance the Rapper held a press conference today at Chicago’s Paul Robeson High School. He was scheduled to “make a major announcement about his efforts to support Chicago Public Schools,” which include his $1 million donation to CPS (announced at a previous press conference from the city’s Westcott Elementary School). In his new speech, Chance revealed that he has raised $2.2 million for CPS since the first press conference. Among those who donated are the Chicago Bulls (who matched Chance’s $1 million), Scooter Braun (manager of Kanye West, Justin Bieber, and others), and Hannibal Buress.
</p>
